# Dependencies
node_modules/

# Build
artifacts/
cache/
typechain-types/
dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Coverage
coverage/
coverage.json

# Logs
*.log

